#start {
    opacity: 1; /* Initial opacity */
    transition: opacity 5s; /* 5-second transition for opacity */
}

.Scene, #grand{
    opacity: 0;
    transition: opacity 5s;
}

.zoomed {
    transform: scale(1.00); /* 1.25x zoom */
    transition: transform 12s; /* 10-second transition for the zoom effect */
}

.background{
    transform: scale(1.15);
}

.character{
    transform: scale(1.15); /* 1.25x zoom */
    transition: transform 12s; /* 10-second transition for the zoom effect */
}